.gray-icons{ background:url("gray-icons.png") top left no-repeat; }
.ulemailli{ width:16px; height:10px; background-position:-10px -10px; }
.uluserli{ width:17px; height:16px; background-position:-10px -30px; }
.ultimeli{ width:16px; height:16px; background-position:-10px -56px; }
.ulphoneli{ width:9px; height:15px; background-position:-10px -82px; }
.ulmapli{ width:9px; height:16px; background-position:-10px -107px; }
.ulmailli{ width:16px; height:16px; background-position:-10px -133px; }
